:root
{
    --Soft-Cream:   #F4EFEA;
    --Warm-Taupe:   #C2B6A6;
    --Deep-Moss:    #4F6F64;
    --Terracotta:   #C47A5A;
    --Muted-Sage:   #A8BFB0;
    --Charcol-Brown:#3B2F2A;
    --Muted-Blue:   #6D8A96;
}

/* property: clamp(minimum, preferred, maximum); */
*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body
{
    background-color: var(--Soft-Cream)
}


/* Header */
header
{
    width: clamp(200px, 70vw, 1200px); height: auto;
    margin: 24px auto 24px;
    color: var(--Charcol-Brown);
}

header h1
{
    text-align: center;
    font-weight: 1;
    font-size: 18pt;
    margin: 24px auto 48px;
}

.header-info ul
{
    display: flex;                  /* Aligns items in a row */
    list-style-type: none;          /* Removes default bullets */
    padding: 0;                     /* Removes default padding */
    margin: 24px auto 24px;         /* Removes default margin */           
    justify-content: space-between; /* Adds space between items */   
}

.large-logo
{
    height: 300px;
    display: block;
    margin: 80px auto 24px;
}

.text-logo
{
    display: none;
    width: auto; height: 80px;
    margin-left: 0px;
}



/* Nav Bar*/
nav
{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--Soft-Cream);
    color: var(--Charcol-Brown);
    height: auto; 
}

nav span 
{
    display: block;
    width: 100%;       /* Spans full width of container */
    height: 2px;       /* Thickness of the line */
    background-color: var(--Charcol-Brown)
}

.nav-bar
{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    justify-content: center;
    margin: 6px auto 6px;  
    height: 60px; width: 100%;
}

.nav-bar ul
{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;    
    list-style-type: none;
    width: 100%; height: 100%;
    font-size: 14pt;
    margin: 24px auto 24px;   
}

.nav-bar li
{
    justify-content: center;
    align-content: center;
    text-align: center;
}

.nav-bar a
{
    text-decoration: none;
    cursor: pointer;
    transition-duration: 200ms;
    color: #3B2F2A;   
}

.nav-bar a:hover
{
    color: lightslategray;
}



/* Banner */
.banner 
{
    display: flex;
    flex-direction: column;
    height: clamp(300px, 50vh, 600px);
    background-color: darkgrey;
    background-image: url(https://images.unsplash.com/photo-1619979842913-08603df442de?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;         /* Scales image to cover the entire space */
    background-repeat: no-repeat;   /* Prevents the image from tiling */
    background-position:top;        /* Centers the image within the element */
    min-height: calc(100vw / 3);
    border-bottom: 3px solid var(--Charcol-Brown);
    margin: 0px;
}


/* Main */
.line
{
    display: block;
    margin: auto;
    width: 90%; height: 1px;
    background-color: var(--Warm-Taupe);
}

main 
{
    font-family: sans-serif;
    text-align: center;
    font-size: 16pt;   
}


/* Image Grid */
.image-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
    width: clamp(200px, 70vw, 1000px); height: auto;
    margin: 24px auto 24px
}

.image-grid img
{
    width: 100%;
}


/* Info Container */
.info-container 
{
    display: flex;
    border-radius: 3px;
    width: clamp(200px, 90vw, 1000px); height: auto;
    margin: 24px auto 60px;
    padding-bottom: 25px;
}

.info-container img
{
    height: 100%; width: auto;
    aspect-ratio: 1/1;
}

.info-container h1
{
    margin: 0px auto 24px;
    text-align: center;
    font-size: calc(1rem + 1vw);
    color: var(--Terracotta)      
}

.info-container p
{
    margin: 24px auto 24px;
    color: var(--Charcol-Brown);
    text-align: center;

}

.info-container button
{
    cursor: pointer;
    padding: 8px 12px;
    min-width: 120px;
    background-color: #6D8A96;
    border-radius: 0px;
    border-width: 2px;
    margin-left: 0px; 
}


/* Serivce Grid */
.service-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--Warm-Taupe);
}

.service
{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px;
}

.service img
{
    border: 2px solid var(--Charcol-Brown);
    width: 80%;
    aspect-ratio: 1/1;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.service h1
{
    color: var(--Deep-Moss);
    font-size: 14pt;
}

.service h2
{
    color: var(--Charcol-Brown);
    font-size: 12pt;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 12px;
    width: 80%;

}

.service p
{
    color: var(--Charcol-Brown);
    font-size: 12pt;
    margin-top: 12px;
}

.service a
{
    margin-top: auto;
}

.service button
{
    border: 2px solid #3B2F2A;
    border-radius: 1px;
    padding: 8px;
}


/* Form */
.contact-form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    width: clamp(200px, 80vw, 1200px);
    margin: 10px auto 40px;
    color:  #4F6F64;
}

.contact-form div
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: clamp( 200px, 90%, 800px );    
    font-size: 14pt;
    margin: auto;
}

.contact-form h1
{
    margin: auto;
    margin-top: 3vh;
    font-size: calc(2rem + 1vw);
    padding: 0px;
}

.contact-form h2
{
    margin: auto;
    margin-top: 0px;
    padding: 0px;
    color: #C47A5A;
    font-size: calc(1.25rem + 1vw);
}

.contact-form textarea,
.contact-form input
{
    height: 40px;
    background: transparent;
    padding: 8px;
    outline: none;
    resize: none;      /* Disables the drag-to-resize handle entirely */
}

.contact-form textarea
{
    min-height: 200px;
}

.contact-form button
{
    padding: 14px 28px;
    min-width: 120px;
    background-color: #6D8A96;
}

.contact-form input, textarea, button
{
    
    border-radius: 6px;
    border: 2px solid  #3B2F2A
}

.contact-form label
{
    margin-right: auto;
    font-family: sans-serif;
}

.contact-form input:focus,
.contact-form textarea:focus
{
    outline: none;
    border-color: navy;
}


/* footer */
footer
{   
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: auto;
    margin-top: 24px;
    background-color: var(--Muted-Sage);
    border-top: 3px solid var(--Charcol-Brown);
}

footer p
{
    margin: auto;
}


.social-links
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px auto 20px;
}

.social-links a
{
    height: 50px;
    font-size: 50px;
}

.social-links a:link, 
.social-links a:visited, 
.social-links a:hover, 
.social-links a:active {
  color: var(--Terracotta)
}



@media (max-width: 992px)
{

    header
    {
        width: clamp(200px, 90vw, 1200px);
    }

    .nav-bar
    {
        grid-template-columns: 20% 60% 20%;
        font-size: 14pt;
    }


    .info-container
    {
        width: clamp(200px, 90vw, 1200px); height: 300px;    
    }

    .info-container p
    {
        margin: 10px;
        font-size: 12pt;
    }

    .info-container h1
    {
        font-size: 20pt;
    }

    .service-grid
    {
        grid-template-columns: 1fr;
    }

    .image-grid
    {
        grid-template-columns: 1fr 1fr;
    }


}

/* moblie */
@media (max-width: 722px)
{

    header
    {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 80px;
        padding-bottom: 1px;
    }

    .header-info
    {
        display: none;
    }

    .text-logo
    {
        display: inline;
    }

    .nav-bar
    {
        display: none;
        width: 95vw;
    }

    .nav-bar ul
    {
        font-size: 12pt;
    }

    .contact-form
    {
        width: 100%;    
    }

    .nav-logo
    {
        width: 80vw;
    }

    main p
    {
        font-size: 16pt;
        width: 90vw;
    }

    .contact-form button
    {
        width: clamp( 200px, 90%, 800px ); 
    }

    .info-container
    {
        width: 95vw;
        flex-direction: column;
        height: auto;
    }

    .info-container h1
    {
        margin: 12px auto 12px;
    }

    .info-container img
    {
        width: 75%;
        height: auto;
        margin: auto;
        order: -1; 
    }

    .info-container p
    {
        margin: 12px auto 12px;
    }
}

@media (max-width: 600px)
{
    nav
    {
        height: 60px;
    }

    
}